<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  <h1>hello</h1>
    <p th:text="${student.id}"></p>
  <p th:text="${student.name}"></p>

  <a href="/by">go to by</a>

  <img th:src="@{/images/9月壁紙.png}" alt="hi"/>

  <form method="post" action="/login">
      帳號:<input type="text" name="userName"><br/>
      密碼:<input type="text" name="password">
      <input type="submit" value="登入">
  </form>

</body>
</html>